[Unit]
Description=My Python Service
After=network.target

[Service]
User=yahav
Group=yahav
WorkingDirectory=/home/yahav/HAproxy
ExecStart=/usr/bin/python3 /home/yahav//main.py
Restart=always

[Install]
WantedBy=multi-user.target
